@inject IAdminService AdminService

<div class="d-xl-flex justify-content-center">
    <EditForm Model="@Model" OnValidSubmit="OnFormSubmit" class="mb-5 border border-1 border-secondary p-2 w-25">
        <h4>@Page Course</h4>
        <DataAnnotationsValidator />
        @if (@Page == PageType.Delete)
        {
            <div class="mb-2">
                <InputText class="form-control" id="title" @bind-Value=Model.Title disabled placeholder="Title"></InputText>
                <ValidationMessage For="@(()=>Model.Title)" />
            </div>
        }
        else
        {
            <div class="mb-2">
                <InputText class="form-control" id="title" @bind-Value=Model.Title placeholder="Title"></InputText>
                <ValidationMessage For="@(()=>Model.Title)" />
            </div>
        }
        @if (!(@Page == PageType.Delete))
        {

            <div class="mb-2">
                <InputText class="form-control" id="description" @bind-Value=Model.Description placeholder="Description"></InputText>
                <ValidationMessage For="@(()=>Model.Description)" />
            </div>
            <div class="mb-2">
                <InputText class="form-control" id="image-url" @bind-Value=Model.ImageUrl placeholder="ImageUrl"></InputText>
                <ValidationMessage For="@(()=>Model.ImageUrl)" />
            </div>
            <div class="mb-2">
                <InputText class="form-control" id="marquee-image-url" @bind-Value=Model.MarqueeImageUrl placeholder="MarqueeImageUrl"></InputText>
                <ValidationMessage For="@(()=>Model.MarqueeImageUrl)" />
            </div>

            <div class="mb-2">
                <InputSelect class="form-control" @bind-Value="Model.InstructorId">
                    <option value="">Instructor...</option>
                    @foreach (var instructor in Instructors)
                    {
                        <option value="@instructor.Id">@instructor.Name</option>
                    }

                </InputSelect>
                <ValidationMessage For="@(()=>Model.InstructorId)" />
            </div>
            <div class="mb-2">
                <label>
                    <InputCheckbox @bind-Value="Model.Free" /> Free Course
                </label>
            </div>
        }

        @if (Page == PageType.Delete)
        {
            <button type="submit" class="btn btn-danger">@Page</button>
        }
        else
        {
            <button type="submit" class="btn btn-success">@Page</button>
        }
    </EditForm>
</div>


@code {
    [Parameter] public CourseDTO Model { get; set; } = new();
    [Parameter] public string Page { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnChange { get; set; }
    public List<InstructorDTO> Instructors { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Instructors = await AdminService.GetAsync<InstructorDTO>($"instructor");
    }

    private async Task OnFormSubmit()
    {
        try
        {
            if (Page.Equals(PageType.Edit))
                await AdminService.EditAsync<CourseDTO>($"course/{Model.Id}", Model);
            else if (Page.Equals(PageType.Create))
                await AdminService.CreateAsync<CourseDTO>("course", Model);
            else if (Page.Equals(PageType.Delete))
                await AdminService.DeleteAsync<CourseDTO>($"course/{Model.Id}");

            await OnChange.InvokeAsync("");

        }
        catch (Exception)
        {

            await OnChange.InvokeAsync("Couldn't create/edit/delete the course.");
        }
    }



}
