<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Free</th>
            <th>Instructor</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@(course.Free ? "Free" : "")</td>
                <td>@course.Instructor.Name</td>
                <td>@course.Description.Truncate(50)</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Edit,course.Id)))">Edit</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Delete,course.Id)))">Delete</button>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter] public List<CourseDTO> Model { get; set; } = new();
    [Parameter] public EventCallback<ClickModel> OnClick { get; set; }
}
